.search-input:hover,
.search-input:focus,
.close-btn:hover,
.load-btn:hover {
  outline: 2px solid #ff4d4d;
  outline-offset: 2px;
  box-shadow:
    0 0 15px #ff4d4d,
    0 0 5px rgba(230, 57, 70, 0.6);
}

.search-input {
  border: none;
  border-radius: 12px;
  font-size: 16px;
  padding: 10px;
  outline: 2px solid white;
  outline-offset: 2px;
  transition: all 0.3s ease-in-out;
}

.search-input:focus {
  background-color: #fff;
  box-shadow:
    0 0 20px #ff4d4d,
    0 0 10px rgba(230, 57, 70, 0.8);
  outline-width: 3px;
}

.close-btn {
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 0 8px;
  border-radius: 4px;
}

.close-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ff4d4d;
}

.load-btn {
  border: none;
  border-radius: 12px;
  padding: 10px;
  width: 150px;
  background-color: #363534;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.load-btn:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.search-error-btn {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.search-error-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ff4d4d;
}
