.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.modal-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 15px;
}

.pokemon-modal {
  border: none;
  background: transparent;
  padding: 0;
  margin: auto;
  overflow: visible;
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokemon-modal[open] {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.modal.is-visible,
.dialog-overlay.is-visible {
  display: flex;
}

.modal-content {
  font-family: palanquin, cursive;
  background-color: var(--clr-tertiary-bg, #17161d);
  padding: 20px;
  border-radius: 15px;
  width: 95%;
  max-width: 500px;
  /* height: 800px; */
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  overflow: hidden;
  height: clamp(550px, 95vh, 800px);
  max-height: 95vh;
}

.modal-types-row {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 0 15px;
}

.pokemon-title-container {
  margin: 0;
  font-size: clamp(1.1rem, 5vw, 1.5rem);
  flex-grow: 1;
  text-align: left;
  display: flex;
  align-items: center;
}

.pokemon-id-num {
  margin-right: 15px;
  color: #888;
  font-weight: bold;
}

.pokemon-name-text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  border-bottom: 2px solid #eee;
  padding: 10px 0 2px;
}

.tab-link {
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  padding: 10px 10px 15px 10px;
  transition: all 0.2s ease;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}

.tab-link:hover {
  color: #ff4d4d;
  border-bottom: 3px solid #ff4d4d;
  box-shadow: 0 4px 10px -2px rgba(255, 77, 77, 0.8);
}

.tab-link.active {
  color: #c21919;
  border-bottom: 3px solid #ff1f1f;
}

.tab-content {
  display: none;
  overflow: hidden;
}

.tab-content.active {
  display: block;
}

div.tab-content.evo-container-list.active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  width: 100%;
}

.pokemon-info-container,
.stats-container-list {
  text-align: left;
  margin-top: 15px;
  font-size: clamp(16px, 2.8vw, 28px);
  line-height: 1.4;
}

.pokemon-info-container p strong,
.stat-label {
  color: #c21919;
  font-weight: bold;
  margin-right: 8px;
}

.stat-label {
  color: #c21919;
  font-weight: bold;
  width: clamp(100px, 15vw, 150px);
  display: inline-block;
  flex-shrink: 0;
}

.stat-row {
  display: flex;
  align-items: center;
  padding: 4px 0;
  height: 50px;
  min-height: 35px;
  width: 100%;
}

.bar-bg {
  flex-grow: 1;
  background: #eee;
  height: clamp(8px, 1.5vw, 16px);
  margin: 0 15px;
  border-radius: 10px;
  overflow: hidden;
}

.bar-fill {
  background: #4caf50;
  height: 100%;
  border-radius: 10px;
}

.stat-value {
  width: 15%;
  text-align: right;
  font-weight: bold;
}

.evo-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 30%;
  min-width: 80px;
  max-width: 150px;
}

.evo-img {
  width: 100%;
  max-width: 70px;
  height: auto;
}

.evo-name {
  font-weight: bold;
  font-size: clamp(16px, 2vw, 28px);
  margin: 5px 0;
  color: #fff;
}

.evo-arrow {
  font-size: 1.2rem;
  color: #ff4d4d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  flex: 0 0 auto;
}

.tab-content.active {
  display: block;
  flex-grow: 1;
}

.modal-image-container {
  border-radius: 15px;
  width: 100%;
  min-height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  height: clamp(120px, 20vh, 200px);
}

.modal-main-img {
  max-height: 100%;
  width: auto;
}

.image-container {
  border-radius: 15px;
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 20px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: clamp(120px, 20vh, 200px);
}

.dialog-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.dialog-type-icons {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 0 0;
}

.dialog-content {
  background-color: white;
  width: 90%;
  max-width: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.pokemon-info-container {
  text-align: left;
  margin-top: 15px;
  line-height: 1.6;
  font-size: clamp(16px, 4vw, 32px);
}

.pokemon-info-container p strong {
  padding: 10px 0;
}

.pokemon-info-container p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.pokemon-info-container p:last-child {
  margin-bottom: 0;
}
