:root {
  --clr-primary-bg: #910d0d;
  --clr-secondary-bg: #2c2c2c;
  --clr-tertiary-bg: #17161d;
  --clr-primary-text: #2d2d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

main {
  flex: 1 0 auto;
  height: auto;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-secondary-bg);
}

.no-scroll {
  overflow: hidden;
}
