:root {
  --clr-primary-bg: #910d0d;
  --clr-secondary-bg: #bdbdb8;
  --clr-primary-text: #2d2d2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: 'palanquin', sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

main {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--clr-secondary-bg);
  display: flex;
  flex-direction: column;
}
